.content__block {
  padding-top: 50px;
  background-color: rgb(237, 237, 237);
}
.content__block .block__one--content {
  text-align: center;
  color: rgb(99, 99, 99);
  max-width: 1200px;
  margin: 0 auto;
  padding-bottom: 50px;
  border: none;
}
.content__block .block__one--content .block__one--title {
  height: 40px;
  font-size: 25px;
}
.content__block .block__one--content .block__one--text {
  line-height: 25px;
  text-indent: 15px;
}
