.content__workbook {
  width: 860px;
  margin: 0 auto;
}

.workbook__wrapper {
  background: rgb(53, 53, 53);
  background: linear-gradient(
    90deg,
    rgba(53, 53, 53, 1) 0%,
    rgba(129, 129, 129, 1) 50%,
    rgba(53, 53, 53, 1) 100%
  );
}
