.page__fifteen {
  margin-bottom: 40px;
  margin-top: 40px;
  border: 3px solid rgb(112, 112, 112);
  color: rgb(72, 72, 72);
  border-radius: 15px;
  padding: 10px;
  -webkit-box-shadow: 0px 0px 22px 0px rgba(168, 168, 168, 1);
  -moz-box-shadow: 0px 0px 22px 0px rgba(168, 168, 168, 1);
  box-shadow: 0px 0px 22px 0px rgba(168, 168, 168, 1);
  background: rgb(255, 251, 154);
  background: linear-gradient(
    0deg,
    rgba(255, 251, 154, 1) 0%,
    rgba(255, 240, 100, 1) 0%,
    rgba(252, 255, 202, 1) 100%
  );
}

.page__fifteen h4 {
  margin-left: 700px;
  position: absolute;
}

.page__fifteen .button__div {
  text-align: center;
}

.page__fifteen button {
  margin-top: 20px;
  width: 150px;
}

.page__fifteen h1 {
  text-align: center;
  color: #fff7b7;
  font-style: italic;
  letter-spacing: 8px;
  text-shadow: -0 -4px 0 #ffaf5a, 0 -4px 0 #ffaf5a, -0 4px 0 #ffaf5a,
    0 4px 0 #ffaf5a, -4px -0 0 #ffaf5a, 4px -0 0 #ffaf5a, -4px 0 0 #ffaf5a,
    4px 0 0 #ffaf5a, -1px -4px 0 #ffaf5a, 1px -4px 0 #ffaf5a, -1px 4px 0 #ffaf5a,
    1px 4px 0 #ffaf5a, -4px -1px 0 #ffaf5a, 4px -1px 0 #ffaf5a,
    -4px 1px 0 #ffaf5a, 4px 1px 0 #ffaf5a, -2px -4px 0 #ffaf5a,
    2px -4px 0 #ffaf5a, -2px 4px 0 #ffaf5a, 2px 4px 0 #ffaf5a,
    -4px -2px 0 #ffaf5a, 4px -2px 0 #ffaf5a, -4px 2px 0 #ffaf5a,
    4px 2px 0 #ffaf5a, -3px -4px 0 #ffaf5a, 3px -4px 0 #ffaf5a,
    -3px 4px 0 #ffaf5a, 3px 4px 0 #ffaf5a, -4px -3px 0 #ffaf5a,
    4px -3px 0 #ffaf5a, -4px 3px 0 #ffaf5a, 4px 3px 0 #ffaf5a,
    -4px -4px 0 #ffaf5a, 4px -4px 0 #ffaf5a, -4px 4px 0 #ffaf5a,
    4px 4px 0 #ffaf5a, -4px -4px 0 #ffaf5a, 4px -4px 0 #ffaf5a,
    -4px 4px 0 #ffaf5a, 4px 4px 0 #ffaf5a;
}

.page__fifteen .task__title {
  width: 400px;
  height: 50px;
  color: rgb(103, 103, 103);
  background-color: #ff9233;
  text-align: center;
  border-radius: 100px;
  margin-top: 30px;
  margin-bottom: 30px;
}

.task__title--text {
  padding-top: 10px;
}
